body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.stocklib.de%2Fmedia-79647722%2Fseamless-pattern-of-isometric-game-blocks-on-dark-violet-background-vintage-80s-style-design-clipping-mask-used.html%3Fkeyword%3Dcolor%2520clipping&psig=AOvVaw06KCOTDoKsmsLUDIBXTm7v&ust=1633188516393000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCMiKg73DqfMCFQAAAAAdAAAAABBD);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    padding-left: 60px;
    margin: auto;
}

div {
    background-color: rgb(43, 43, 43);
    font-family: verdana, arial, helvetica;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.562);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

h1,
h2,
h3,
p,
button {
    font-family: arial, arial, helvetica, sans-serif;
    padding: 10px;
    line-height: 1.5;
    font-size: 1.2em;
}

img.isobsp1 {
    float: right;
    width: 27%;
    height: auto;
}
.demo {
    background-color: rgb(43, 43, 43);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    font-family: verdana, arial, helvetica;
    border-radius: 3px;
    
}


.demo:hover {
    background-color: rgb(112, 112, 112);
    color: white;
    box-shadow: 1px 1.25px 1px rgba(128, 128, 128, 0.562);
}